// Specific CSS for your home-page
.cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    a {
      text-decoration: none;
      color: black;
    }
}
