
// .container {
//     display: flex;
//     align-items: center;
//     justify-content: space-around;
//     border-radius: 5px;
//     width: 100%;
//     padding-right: 15px;
//     padding-left: 15px;
//     margin-right: auto;
//     margin-left: auto;
// }

.instrument-card {
  display: flex;
}

.instrument-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}

.instrument-details_price {
  text-align: right;
}

.availability-btn {
  color: white;
  font-weight: lighter;
  background-color: #40a02b;
  &:hover {
    font-weight: normal;
    color: white;
    background-color: #62c64b;
  }
}

.closed-btn {
  color: white;
  font-weight: lighter;
  background-color: #B9290A;
}

.instrument-information {
  flex: 1;
}

.instrument-img {
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.extra-info {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.instrument-map {
  border: 5px solid white;
  flex: 1;
  margin-left: 10px;
}

.owner-info {
  padding: 10px 15px;
  margin: 0px 0px 10px 10px;
}
