
.breadcrumb {
  background: transparent;
}

.top-links {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.owner-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.instrument-card {
  display: flex;
}

.instrument-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}

.instrument-details_price {
  text-align: right;
}


.closed-btn {
  color: white;
  font-weight: lighter;
  background-color: #B9290A;
}

.instrument-information {
  flex: 1;
  overflow: hidden;
  align-self: flex-end;
}

.instrument-img {
  height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.extra-info {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.instrument-map {
  border: 5px solid white;
  flex: 1;
  margin-left: 10px;
}

.image-map {
  align-self: flex-end;
}

.owner-info2 {
  padding: 10px 15px;
  margin: 0px 0px 10px 10px;
}

.user-rating {
  padding: 10px 15px;
  margin: 0px 0px 10px 10px;
}

.fa-star {
  color: #ffdb96;
}

.choose-dates {
  font-weight: 400;
  align-items: left;
  padding: 10px 0px;
}

.fa-calendar {
  color: #555555;
  margin-right: 10px;
  margin-left: 20px;
}

.cn {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.datepicker {
  background-color: transparent !important;
  height: 45px;
  border-left: 0;
  font-size: 16px;
  border: none;
  font-weight: 200;
}

.form-inline div {
  display: inline-block;
}


.fa-long-arrow-alt-right {
  margin-left: 10px;
  margin-right: 22px;
}

.form-style {
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  margin: 5px 0px;
  display: inline-block;
  width: 60%;
  align-items: center;
}

.start-date {
  max-width: 200px;
}

.end-date {
  max-width: 200px;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: lighter;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    &:hover {
      font-weight: normal;
      color: white;
      background-color: #f98484;
      border: none;
  }
}

.submit {
  width: 20%;
  padding: 10px;
  background: #ff6161;
  border: 1px solid #fa6161;
  height: 50px;
}

.small-text {
  padding: 10px 15px 0px 15px;
  font-size: 14px;
  color: #353535;
}


.price-calc {
  padding-left: 20px;
}

.instrument-details {
  padding-right: 20px;
}

