
body {
  background: #F2F1F2;
  font-family: 'Open-sans', sans-serif;
}

.instrument-card {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
