<h1>All Instruments</h1>

<% if policy(Instrument).create? %>
  <%= link_to "New instrument", new_instrument_path %>
<% end %>

<div class="cards">
  <% @instruments.each do |instrument| %>
    <%= link_to instrument_path(instrument) do %>
      <div class="card" style="background-image: url(<%= instrument.photos %>)">
        <div class="name"><%= instrument.name %></div>
      </div>
    <% end %>
  <% end %>
</div>
